form span{
    color: red;
}
h1{
    text-align: center;
}
body{
    margin-left: 5%;
    margin-right: 5%;
}
button{
    padding: .6em;
    border-radius: 5px;
    background-color: rgb(0, 88, 0);
    color: rgb(177, 87, 177);
    border: 1px solid black;
    cursor: pointer;
}
button:hover{
    background-color: rgb(0, 71, 1);
}

input[type=text]{
    margin-bottom: 1em;
}
form label{
    display: inline-block;
    text-align: right;
    width: 50%;
    margin-right: 2em;
}
form button{
    margin-left: 50%;
}
.message{
    font-style: italic;
}
@media only screen and (max-width: 600px){
    form label{
        text-align: left;
        width: 100%;
    }
    form button{
        margin-left: 0%;
    }
}